.table-container {
  overflow-x: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation-table {
  width: 100%;
  border-collapse: collapse;
}

.reservation-table th,
.reservation-table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.reservation-table th {
  background-color: #007bff;
  color: white;
  position: sticky;
  top: 0;
}

.reservation-table tr.odd {
  background-color: #f9f9f9;
}

.reservation-table tr:hover {
  background-color: #e6f0ff;
}

.btn-validate {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-validate:disabled {
  background-color: #ccc;
  cursor: default;
}

.btn-back {
  margin-bottom: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}


.note-etoiles span {
  color: gray;
  cursor: pointer;
}
.note-etoiles span.active {
  color: gold;
}
.note-etoiles.disabled span.active {
  color: gold; /* Ajoute cette règle */
  cursor: default;
}
