<h1>Interface d'administrateur</h1>
<div id="admin_bouton_section" class="block_white">
  <button
    class="btn btn_admin"
    [class.active]="currentSection === 'dashboard'"
    data-table="bdd_dashboard"
    (click)="currentSection = 'dashboard'"
  >
    Dashboard
  </button>
  <button
    class="btn btn_admin"
    [class.active]="currentSection === 'jeu'"
    data-table="bdd_jeux"
    (click)="currentSection = 'jeu'"
  >
    Jeux
  </button>
  <button
    class="btn btn_admin"
    [class.active]="currentSection === 'table'"
    data-table="bdd_table"
    (click)="currentSection = 'table'"
  >
    Tables
  </button>
  <button
    class="btn btn_admin"
    [class.active]="currentSection === 'employe'"
    data-table="bdd_employe"
    (click)="currentSection = 'employe'"
  >
    Employés
  </button>
  <button
    class="btn btn_admin"
    [class.active]="currentSection === 'badge'"
    data-table="bdd_badge"
    (click)="currentSection = 'badge'"
  >
    Badges
  </button>
  <button
    class="btn btn_admin"
    [class.active]="currentSection === 'emprunt'"
    data-table="bdd_emprunt"
    (click)="currentSection = 'emprunt'"
  >
    Emprunts
  </button>

  <button
    class="btn btn_admin"
    [class.active]="currentSection === 'reservation'"
    data-table="bdd_reservation"
    (click)="currentSection = 'reservation'"
  >
    Reservations
  </button>
</div>

<div id="admin_table_section" class="block_white">
  <div *ngIf="currentSection === 'dashboard'">
    <div class="dashboard_card">
      <h3>Jeux</h3>
      <p class="dashboard_value" id="count_jeux">{{ data['jeux']?.length }}</p>
    </div>
    <div class="dashboard_card">
      <h3>Employés</h3>
      <p class="dashboard_value" id="count_employes">{{ data['employes']?.length }}</p>
    </div>
    <div class="dashboard_card">
      <h3>Tables</h3>
      <p class="dashboard_value" id="count_tables">{{ data['tables']?.length }}</p>
    </div>
    <div class="dashboard_card">
      <h3>Badges</h3>
      <p class="dashboard_value" id="count_badges">{{ data['badges']?.length }}</p>
    </div>
    <div class="dashboard_card">
      <h3>Réservations du jour</h3>
      <p class="dashboard_value" id="count_reservations">{{ reservationsDuJour }}</p>
    </div>
  </div>

  <div *ngIf="currentSection === 'jeu'">
    <section id="bdd_recherche_ajout">
      <input
        type="text"
        id="recherche_bdd"
        class="barre_recherche"
        placeholder="🔍 Rechercher..."
        [formControl]="searchControls['jeux']"
      />
      <button class="btn_crud btn_ajouter" title="Ajouter" (click)="ajouter('jeux')">➕</button>
    </section>
    <table matSort (matSortChange)="sortData('jeux', $event)">
      <thead>
        <tr>
          <th data-type="number" mat-sort-header="id">id</th>
          <th data-type="text" mat-sort-header="nom">Nom du jeu</th>
          <th data-type="number" mat-sort-header="ageMinimum">Age minimum</th>
          <th data-type="checkbox" mat-sort-header="besoinGameMaster">Besoin d'un GameMaster</th>
          <th data-type="number" mat-sort-header="duree">Durée</th>
          <th data-type="text" mat-sort-header="imgURL">Image</th>
          <th data-type="number" mat-sort-header="nbExemplaire">Nombres d'exemplaires</th>
          <th data-type="number" mat-sort-header="nbJoueurMinimum">Nombres de joueurs minimum</th>
          <th data-type="number" mat-sort-header="nbJoueurMaximum">Nombres de joueurs maximum</th>
          <th
            data-type="liste"
            mat-sort-header="categoriesJeux"
            data-options="STRATEGIE,COOPERATIF,ENFANT,AMBIANCE,RAPIDITE,REFLEXION"
          >
            Catégories
          </th>
          <th
            data-type="liste"
            mat-sort-header="typesJeux"
            data-options="PLATEAU,CARTE,DES,ROLE,AMBIANCE"
          >
            Types
          </th>
          <th data-type="number" mat-sort-header="note">Note</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jeu of filteredItems['jeux']">
          <td>{{ jeu.id }}</td>
          <td>{{ jeu.nom }}</td>
          <td>{{ jeu.ageMinimum }}</td>
          <td>{{ jeu.besoinGameMaster }}</td>
          <td>{{ jeu.duree }}</td>
          <td>{{ jeu.imgURL }}</td>
          <td>{{ jeu.nbExemplaire }}</td>
          <td>{{ jeu.nbJoueurMinimum }}</td>
          <td>{{ jeu.nbJoueurMaximum }}</td>
          <td>{{ jeu.categoriesJeux?.join(', ') }}</td>
          <td>{{ jeu.typesJeux?.join(', ') }}</td>
          <td>{{ jeu.note }}</td>
          <td>
            <button class="btn_crud btn_modifier" title="Modifier" (click)="modifier('jeux', jeu)">
              ✏️
            </button>
            <button
              class="btn_crud btn_supprimer"
              title="Supprimer"
              (click)="supprimer('jeux', jeu)"
            >
              🗑️
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="currentSection === 'table'">
    <section id="bdd_recherche_ajout">
      <input
        type="text"
        id="recherche_bdd"
        class="barre_recherche"
        placeholder="🔍 Rechercher..."
        [formControl]="searchControls['tables']"
      />
      <button class="btn_crud btn_ajouter" title="Ajouter" (click)="ajouter('tables')">➕</button>
    </section>

    <table matSort (matSortChange)="sortData('tables', $event)">
      <thead>
        <tr>
          <th data-type="number" mat-sort-header="id">ID</th>
          <th data-type="text" mat-sort-header="nomTable">Nom de la table</th>
          <th data-type="number" mat-sort-header="capacite">Capacité</th>
          <th data-type="text" mat-sort-header="imgUrl">Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let table of filteredItems['tables']">
          <td>{{ table.id }}</td>
          <td>{{ table.nomTable }}</td>
          <td>{{ table.capacite }}</td>
          <td>{{ table.imgUrl }}</td>
          <td>
            <button
              class="btn_crud btn_modifier"
              title="Modifier"
              (click)="modifier('tables', table)"
            >
              ✏️
            </button>
            <button
              class="btn_crud btn_supprimer"
              title="Supprimer"
              (click)="supprimer('tables', table)"
            >
              🗑️
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="currentSection === 'employe'">
    <section id="bdd_recherche_ajout">
      <input
        type="text"
        id="recherche_bdd"
        class="barre_recherche"
        placeholder="🔍 Rechercher..."
        [formControl]="searchControls['employes']"
      />
      <button class="btn_crud btn_ajouter" title="Ajouter" (click)="ajouter('employes')">➕</button>
    </section>

    <table matSort (matSortChange)="sortData('employes', $event)">
      <thead>
        <tr>
          <th data-type="number" mat-sort-header="id">ID</th>
          <th data-type="text" mat-sort-header="nom">Nom</th>
          <th data-type="text" mat-sort-header="prenom">Prénom</th>
          <th data-type="text" mat-sort-header="mail">Email</th>
          <th data-type="text" mat-sort-header="telephone">Téléphone</th>
          <th data-type="text" mat-sort-header="job">Poste</th>
          <th data-type="checkbox" mat-sort-header="gameMaster">Game Master</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employe of filteredItems['employes']">
          <td>{{ employe.id }}</td>
          <td>{{ employe.nom }}</td>
          <td>{{ employe.prenom }}</td>
          <td>{{ employe.mail }}</td>
          <td>{{ employe.telephone }}</td>
          <td>{{ employe.job }}</td>
          <td>
            {{ employe.gameMaster }}
          </td>
          <td>
            <button
              class="btn_crud btn_modifier"
              title="Modifier"
              (click)="modifier('employes', employe)"
            >
              ✏️
            </button>
            <button
              class="btn_crud btn_supprimer"
              title="Supprimer"
              (click)="supprimer('employes', employe)"
            >
              🗑️
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="currentSection === 'badge'">
    <section id="bdd_recherche_ajout">
      <input
        type="text"
        id="recherche_bdd"
        class="barre_recherche"
        placeholder="🔍 Rechercher..."
        [formControl]="searchControls['badges']"
      />
      <button class="btn_crud btn_ajouter" title="Ajouter" (click)="ajouter('badges')">➕</button>
    </section>

    <table matSort (matSortChange)="sortData('badges', $event)">
      <thead>
        <tr>
          <th data-type="number" mat-sort-header="id">ID</th>
          <th data-type="text" mat-sort-header="nomBadge">Nom du badge</th>
          <th data-type="number" mat-sort-header="pointMin">Points minimum</th>
          <th data-type="text" mat-sort-header="imgURL">Image</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let badge of filteredItems['badges']">
          <td>{{ badge.id }}</td>
          <td>{{ badge.nomBadge }}</td>
          <td>{{ badge.pointMin }}</td>
          <td>{{ badge.imgURL }}</td>

          <td>
            <button
              class="btn_crud btn_modifier"
              title="Modifier"
              (click)="modifier('badges', badge)"
            >
              ✏️
            </button>
            <button
              class="btn_crud btn_supprimer"
              title="Supprimer"
              (click)="supprimer('badges', badge)"
            >
              🗑️
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="currentSection === 'emprunt'">
    <section id="bdd_recherche_ajout">
      <input
        type="text"
        id="recherche_bdd"
        class="barre_recherche"
        placeholder="🔍 Rechercher..."
        [formControl]="searchControls['emprunts']"
      />
      <select [formControl]="statutControls['emprunts']">
        <option value="">Tous</option>
        <option *ngFor="let s of enumOptions['statutLocation']" [value]="s">{{ s }}</option>
      </select>
      <!--<button class="btn_crud btn_ajouter" title="Ajouter" (click)="ajouter('emprunts')">➕</button>-->
    </section>

    <table matSort (matSortChange)="sortData('emprunts', $event)">
      <thead>
        <tr>
          <th data-type="number" mat-sort-header="id">ID</th>
          <th data-type="text" mat-sort-header="dateEmprunt">Date emprunt</th>
          <th data-type="text" mat-sort-header="dateRetour">Date retour prévue</th>
          <th data-type="text" mat-sort-header="dateRetourReel">Date retour réel</th>
          <th data-type="text" mat-sort-header="statutLocation">Statut</th>
          <th data-type="text" mat-sort-header="client">Client</th>
          <th data-type="text" mat-sort-header="jeu">Jeu</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let e of filteredItems['emprunts']">
          <td>{{ e.id }}</td>

          <td>{{ e.dateEmprunt | date : 'dd/MM/yyyy' }}</td>
          <td>{{ e.dateRetour | date : 'dd/MM/yyyy' }}</td>
          <td>{{ e.dateRetourReel ? (e.dateRetourReel | date : 'dd/MM/yyyy') : '—' }}</td>

          <td>{{ e.statutLocation }}</td>

          <!-- Client visible sous forme "Nom Prénom" -->
          <td>{{ e.client ? e.client.nom + ' ' + e.client.prenom : '—' }}</td>

          <!-- Jeu affiché sous son nom -->
          <td>{{ e.jeu?.nom }}</td>

          <td>
            <button
              class="btn_crud btn_modifier"
              title="Modifier"
              (click)="modifier('emprunts', e)"
            >
              ✏️
            </button>
            <!--<button
              class="btn_crud btn_supprimer"
              title="Supprimer"
              (click)="supprimer('emprunts', e)"
            >
              🗑️
            </button>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="currentSection === 'reservation'">
    <section id="bdd_recherche_ajout">
      <input
        type="text"
        id="recherche_reservation"
        class="barre_recherche"
        placeholder="🔍 Rechercher..."
        [formControl]="searchControls['reservations']"
      />
      <select [formControl]="statutControls['reservations']">
        <option value="">Tous</option>
        <option *ngFor="let s of enumOptions['statutReservation']" [value]="s">{{ s }}</option>
      </select>
      <!--<button class="btn_crud btn_ajouter" title="Ajouter" (click)="ajouter('reservations')">
        ➕
      </button>-->
    </section>

    <table matSort (matSortChange)="sortData('reservations', $event)">
      <thead>
        <tr>
          <th data-type="number" mat-sort-header="id">ID</th>
          <th data-type="datetime" mat-sort-header="datetimeDebut">Début</th>
          <th data-type="datetime" mat-sort-header="datetimeFin">Fin</th>
          <th data-type="number" mat-sort-header="nbJoueur">Nb Joueurs</th>
          <th data-type="text" mat-sort-header="tableJeu">Table</th>
          <th data-type="text" mat-sort-header="jeu">Jeu</th>
          <th data-type="text" mat-sort-header="statutReservation">Statut</th>
          <th data-type="text" mat-sort-header="client">Client</th>
          <th data-type="text" mat-sort-header="gameMaster">GameMaster</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let res of filteredItems['reservations']">
          <td>{{ res.id }}</td>
          <td>{{ res.datetimeDebut | date : 'yyyy-MM-dd HH:mm' }}</td>
          <td>{{ res.datetimeFin | date : 'yyyy-MM-dd HH:mm' }}</td>
          <td>{{ res.nbJoueur }}</td>
          <td>{{ res.tableJeu?.nomTable }}</td>
          <td>{{ res.jeu?.nom }}</td>
          <td>{{ res.statutReservation }}</td>
          <td>{{ res.client?.nom }} {{ res.client?.prenom }}</td>
          <td>{{ res.gameMaster?.nom }} {{ res.gameMaster?.prenom }}</td>
          <td>
            <button
              class="btn_crud btn_modifier"
              title="Modifier"
              (click)="modifier('reservations', res)"
            >
              ✏️
            </button>
            <!--<button
              class="btn_crud btn_supprimer"
              title="Supprimer"
              (click)="supprimer('reservations', res)"
            >
              🗑️
            </button>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="admin_form_section" class="block_white" *ngIf="editMode">
  <div *ngIf="currentSection === 'jeu'">
    <h3>Modifier le jeu #{{ currentEdit['jeux']?.id || 'nouveau' }}</h3>
    <form [formGroup]="jeuForm" (ngSubmit)="sauvergarder('jeu', currentEdit['jeux'])">
      <label>Nom :</label>
      <input type="text" formControlName="nom" />
      <label>Types :</label>
      <select formControlName="typesJeux" multiple>
        <option *ngFor="let type of enumOptions['typesJeux']" [value]="type">{{ type }}</option>
      </select>
      <label>Âge minimum :</label>
      <input type="number" formControlName="ageMinimum" />
      <label>Nombre de joueurs minimum :</label>
      <input type="number" formControlName="nbJoueurMinimum" />

      <label>Nombre de joueurs maximum :</label>
      <input
        type="number"
        formControlName="nbJoueurMaximum"
        [min]="jeuForm.get('nbJoueurMinimum')?.value"
      />
      <label>Durée (minutes) :</label>
      <input type="number" formControlName="duree" />
      <label>Nombre d'exemplaires :</label>
      <input type="number" formControlName="nbExemplaire" />
      <label>Note :</label>
      <input type="number" formControlName="note" min="0" max="5" />
      <label>Catégories :</label>
      <select formControlName="categoriesJeux" multiple>
        <option *ngFor="let cat of enumOptions['categoriesJeux']" [value]="cat">{{ cat }}</option>
      </select>
      <label>Image URL :</label>
      <input type="text" formControlName="imgURL" />
      <label>Besoin d'un GameMaster :</label>
      <input type="checkbox" formControlName="besoinGameMaster" />

      <button type="submit" [disabled]="jeuForm.invalid">Sauvegarder</button>
      <button type="button" (click)="editMode = false; currentEdit['jeux'] = null">Annuler</button>
    </form>
  </div>

  <div *ngIf="currentSection === 'table'">
    <h3>Modifier la table #{{ currentEdit['tables']?.id || 'nouveau' }}</h3>
    <form [formGroup]="tableForm" (ngSubmit)="sauvergarder('table', currentEdit['tables'])">
      <label>Nom :</label>
      <input type="text" formControlName="nomTable" />
      <label>Capacité :</label>
      <input type="number" formControlName="capacite" min="1" />
      <label>Image URL :</label>
      <input type="text" formControlName="imgUrl" />

      <button type="submit" [disabled]="tableForm.invalid">Sauvegarder</button>
      <button type="button" (click)="editMode = false; currentEdit['tables'] = null">
        Annuler
      </button>
    </form>
  </div>
  <div *ngIf="currentSection === 'employe'">
    <h3>Modifier l'employe #{{ currentEdit['employes']?.id || 'nouveau' }}</h3>
    <form [formGroup]="employeForm" (ngSubmit)="sauvergarder('employe', currentEdit['employes'])">
      <label>Nom :</label>
      <input type="text" formControlName="nom" />
      <label>Prénom :</label>
      <input type="text" formControlName="prenom" />
      <label>Mail :</label>
      <input type="email" formControlName="mail" />
      <div *ngIf="employeForm.get('mail')?.invalid && employeForm.get('mail')?.touched">
        <small *ngIf="employeForm.get('mail')?.errors?.['required']">Email requis.</small>
        <small *ngIf="employeForm.get('mail')?.errors?.['email']">Email invalide.</small>
      </div>

      <label>Téléphone :</label>
      <input type="text" formControlName="telephone" />
      <label>Job :</label>
      <input type="text" formControlName="job" />
      <label>GameMaster :</label>
      <input type="checkbox" formControlName="gameMaster" />

      <button type="submit" [disabled]="employeForm.invalid">Sauvegarder</button>
      <button type="button" (click)="editMode = false; currentEdit['employes'] = null">
        Annuler
      </button>
    </form>
  </div>
  <div *ngIf="currentSection === 'badge'">
    <h3>Modifier le badge #{{ currentEdit['badges']?.id || 'nouveau' }}</h3>
    <form [formGroup]="badgeForm" (ngSubmit)="sauvergarder('badge', currentEdit['badges'])">
      <label>nom du badge :</label>
      <input type="text" formControlName="nomBadge" />
      <label>point minimum :</label>
      <input type="number" formControlName="pointMin" />
      <label>img URL :</label>
      <input type="text" formControlName="imgURL" />
      <button type="submit" [disabled]="badgeForm.invalid">Sauvegarder</button>
      <button type="button" (click)="editMode = false; currentEdit['badges'] = null">
        Annuler
      </button>
    </form>
  </div>
  <div *ngIf="currentSection === 'emprunt'">
    <h3>Modifier l'emprunt #{{ currentEdit['emprunts'].id }}</h3>
    <form [formGroup]="empruntForm" (ngSubmit)="sauvergarder('emprunt', currentEdit['emprunts'])">
      <label>Statut :</label>
      <select formControlName="statutEmprunt">
        <option *ngFor="let s of enumOptions['statutLocation']" [value]="s">{{ s }}</option>
      </select>
      <input type="date" formControlName="dateRetourReel" />
      <button type="submit" [disabled]="empruntForm.invalid">Sauvegarder</button>
      <button type="button" (click)="editMode = false; currentEdit['emprunts'] = null">
        Annuler
      </button>
    </form>
  </div>
  <div *ngIf="currentSection === 'reservation'">
    <h3>Modifier la réservation #{{ currentEdit['reservations'].id }}</h3>
    <form
      [formGroup]="reservationForm"
      (ngSubmit)="sauvergarder('reservation', currentEdit['reservations'])"
    >
      <label>Statut :</label>
      <select formControlName="statutReservation">
        <option *ngFor="let s of enumOptions['statutReservation']" [value]="s">{{ s }}</option>
      </select>
      <button type="submit" [disabled]="reservationForm.invalid">Sauvegarder</button>
      <button type="button" (click)="editMode = false; currentEdit['reservations'] = null">
        Annuler
      </button>
    </form>
  </div>
</div>
