<header>
  <div class="logo">
    <a routerLink="/home">
      <img src="assets/images/logo.png" alt="La taverne des 4 AS" />
    </a>
  </div>
  <nav class="menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
    <!-- Liens visibles uniquement si NON connecté -->
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      
      <a routerLink="/login" routerLinkActive="active">Se connecter</a>
  <!--  </ng-container>

    Liens visibles uniquement si connecté
    <ng-container *ngIf="isLoggedIn$ | async"> -->
      <a routerLink="/table" routerLinkActive="active">Réservation de table</a>
      <a routerLink="/jeu" routerLinkActive="active">Réservation de jeu</a>
      <a routerLink="/client" routerLinkActive="active">Compte</a>
      <a *ngIf="role === 'ROLE_EMPLOYE'" routerLink="/admin" routerLinkActive="active">Admin</a>
      <a (click)="logout()">Se déconnecter</a>
    </ng-container>

  </nav>
</header>
