/* ============================================= */
/* =============== HEADER ====================== */
/* ============================================= */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: 12vh;
  background-color: var(--couleur-principale);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #c9a86a;
}

/* LOGO */
header .logo img {
  height: 10vh;
  width: auto;
  border-radius: 10%;
  display: block;
}

/* NAVIGATION */
header nav.menu {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 500;
}

header nav a {
  display: inline-block;
  padding: 8px 18px;
  border-radius: 25px;
  background-color: #2e2e2e;
  color: var(--couleur-secondaire);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Effet hover */
header nav a:hover {
  background-color: var(--couleur-tertiaire);
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/* Bouton actif */
header nav a.active {
  background-color: var(--couleur-tertiaire);
  color: #fff;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
