<h1>Louer votre jeux</h1>
<!-- à mettre dans dans table : 
<section id="filtre_section" class="block_white">
  <h2>Filtrer les jeux</h2>
  <form id="filtre_form" [formGroup]="filtreForm" (ngSubmit)="appliquerFiltre()">
    <div class="filtre_groupe">
      <label for="nbPersonnes">Nombre de personnes</label>
      <input type="number" id="nbPersonnes" min="1" max="15" formControlName="nbPersonnes"/>
    </div>


    <div class="filtre_groupe">
      <label for="ageMin">Age minimum</label>
      <input type="number" id="ageMin" min="1" max="18" formControlName="ageMin"/>
    </div>

    <div class="filtre_groupe">
      <label for="dureeMax">Durée maximum</label>
      <input type="number" id="dureeMax" min="1" max="100" formControlName="dureeMax"/>
    </div>
    

    <input type="submit" value="Appliquer les filtres" class="btn" />
  </form>
</section>

<section id="resultat_filtre" class="block_white">
  <h2>🎲 Nos jeux</h2>
  <div class="carrousel-container">
    <button class="nav-btn prev" (click)="prev()">&#10094;</button>

    <div class="carrousel">
      <div class="carte-jeu" *ngFor="let jeu of jeux">
        <img [src]="'assets/images/jeux/' + jeu.imgURL" [alt]="jeu.nom" />
        <div class="carte-info">
          <h3>{{ jeu.nom }}</h3>
          <p>âge minimum : {{ jeu.ageMinimum }}</p>
          <p>Nombre de joueurs min : {{ jeu.nbJoueurMinimum }} </p>
          <p> Nombre de joueurs max : {{jeu.nbJoueurMaximum}}</p>         
          <p>durée : {{ jeu.duree }} minutes - note : {{jeu.note}}</p>

          <div class="actions">
            <button class="btn btn-louer">Choisir</button>
          </div>
        </div>
      </div>
    </div>

    <button class="nav-btn next" (click)="next()">&#10095;</button>
  </div>
</section>-->



<section id="filtre_section" class="block_white">
  <h2>Filtrer les jeux</h2>
  <form id="filtre_form" [formGroup]="filtreForm" (ngSubmit)="appliquerFiltre()">
    <div class="filtre_groupe">
      <label for="nbPersonnes">Nombre de personnes</label>
      <input type="number" id="nbPersonnes" min="1" max="15" formControlName="nbPersonnes"/>
    </div>


    <div class="filtre_groupe">
      <label for="ageMin">Age minimum</label>
      <input type="number" id="ageMin" min="1" max="18" formControlName="ageMin"/>
    </div>

    <div class="filtre_groupe">
      <label for="dureeMax">Durée maximum</label>
      <input type="number" id="dureeMax" min="1" max="100" formControlName="dureeMax"/>
    </div>

    <div class="filtre_groupe">
      <label for="dateEmprunt">Date d'emprunt</label>
      <input type="date" id="dateEmprunt" min="1" max="100" formControlName="dateEmprunt" required/>
    </div> <!-- ajouter filtre si disponible en fontion du stock !! -->
    

    <input type="submit" value="Appliquer les filtres" class="btn" />
  </form>
</section>

<section id="resultat_filtre" class="block_white">
  <h2>🎲 Nos jeux</h2>
  <div class="carrousel-container">
    <button class="nav-btn prev" (click)="prev()">&#10094;</button>

    <div class="carrousel">
      <div class="carte-jeu" *ngFor="let jeu of jeux">
        <img [src]="'assets/images/jeux/' + jeu.imgURL" [alt]="jeu.nom" />
        <div class="carte-info">
          <h3>{{ jeu.nom }}</h3>
          <p>âge minimum : {{ jeu.ageMinimum }}</p>
          <p>Nombre de joueurs min : {{ jeu.nbJoueurMinimum }} </p>
          <p> Nombre de joueurs max : {{jeu.nbJoueurMaximum}}</p>         
          <p>durée : {{ jeu.duree }} minutes - note : {{jeu.note}}</p>

          <div class="actions">
            <button class="btn btn-louer" (click)="choisirJeu(jeu)">Choisir</button>
          </div>
        </div>
      </div>
    </div>

    <button class="nav-btn next" (click)="next()">&#10095;</button>
  </div>
</section>


<section id="emprunt_form" class="block_white" *ngIf="formEmpruntVisible">
  <h2>Confirmation d'emprunt</h2>
  <form [formGroup]="formEmprunt" (ngSubmit)="validerEmprunt()">
    <label for="jeu">Jeu selectionné :</label>
    <input type="text" formControlName="jeu"/>

    <label hidden>Client</label>
    <input formControlName="client" type="hidden" />

    <label>Date d'emprunt</label>
    <input type="date" formControlName="dateEmprunt" required />

    <label>Date de retour</label>
    <input type="date" formControlName="dateRetour" />

    <button type="submit" class="btn" [disabled]="formEmprunt.invalid">
      Confirmer l’emprunt
    </button>





  </form>


</section>
