<main>
  <h1>Interface client</h1>

  <!-- TAB 1: INFORMATIONS -->
  <div id="client_formulaire" *ngIf="currentView === 'info'">
    <div id="client_badge">
      <button class="btn btn-switch" (click)="goToReservations()">Voir mes réservations</button>

      <img
        [src]="'assets/images/badge/' + getBadgeLevel(client.pointFidelite) + '.png'"
        alt="Badge"
        class="badge_img"
      />
      <h4>Points de fidélité : {{ client.pointFidelite }}</h4>
    </div>

    <div id="informations" class="block_white">
      <h2>Mes informations personnelles</h2>
      <form class="general_fields">
        <div class="form-field-group">
          <label>Nom :</label>
          <input type="text" [(ngModel)]="client.nom" name="nom" [disabled]="!isEditing" />
        </div>
        <div class="form-field-group">
          <label>Prénom :</label>
          <input type="text" [(ngModel)]="client.prenom" name="prenom" [disabled]="!isEditing" />
        </div>
        <div class="form-field-group">
          <label>Email :</label>
          <input type="email" [(ngModel)]="client.mail" name="mail" [disabled]="!isEditing" />
        </div>
        <div class="form-field-group">
          <label>Téléphone :</label>
          <input type="text" [(ngModel)]="client.telephone" name="tel" [disabled]="!isEditing" />
        </div>
        <div id="client_fields">
          <div>
            <label>Adresse :</label>
            <input
              type="text"
              [(ngModel)]="client.adresse"
              name="adresse"
              [disabled]="!isEditing"
            />
          </div>
          <div>
            <label>Ville :</label>
            <input type="text" [(ngModel)]="client.ville" name="ville" [disabled]="!isEditing" />
          </div>
          <div>
            <label>Code Postal :</label>
            <input type="text" [(ngModel)]="client.codePostale" name="cp" [disabled]="!isEditing" />
          </div>
        </div>

        <div id="client_btn_section">
          <button type="button" class="btn modifier" *ngIf="!isEditing" (click)="enableEdit()">
            Modifier
          </button>
          <button type="button" class="btn annuler" *ngIf="isEditing" (click)="cancelEdit()">
            Annuler
          </button>
          <button type="button" class="btn enregistrer" *ngIf="isEditing" (click)="saveProfile()">
            Enregistrer
          </button>
        </div>
      </form>
      <div id="change_password">
        <button type="button" (click)="toggleChangePasswordForm()" class="btn change-password-btn">
          Changer mon mot de passe
        </button>

        <div *ngIf="isChangingPassword">
          <h3>Changer mon mot de passe</h3>
          <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
            <div class="filtre_groupe">
              <label>Ancien mot de passe :</label>
              <input type="password" formControlName="oldPassword" />
            </div>

            <div class="filtre_groupe">
              <label>Nouveau mot de passe :</label>
              <input type="password" formControlName="newPassword" />
            </div>

            <div class="filtre_groupe">
              <label>Confirmer le nouveau mot de passe :</label>
              <input type="password" formControlName="confirmPassword" />
            </div>

            <div class="form-group">
              <button type="submit" class="btn enregistrer" [disabled]="passwordForm.invalid">
                Modifier
              </button>
            </div>
          </form>

          <p *ngIf="passwordError" style="color: red">{{ passwordError }}</p>
          <p *ngIf="passwordSuccess" style="color: green">{{ passwordSuccess }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
