<h1>Réservez votre table</h1>
<section id="filtre_section" class="block_white">
  <h2>Filtrer les tables</h2>
  <form id="filtre_form" [formGroup]="filtreFormTable" (ngSubmit)="appliquerFiltreTable()">
    <div class="filtre_groupe">
      <label for="nbPersonne">Nombre de personnes</label>
      <input type="number" id="nbPersonne" min="1" max="10" formControlName="nbPersonnes"/>
    </div>

    <div class="filtre_groupe">
      <label for="date">Date</label>
      <input type="date" id="date" formControlName="date" [min]="today"/>
      <!-- mettre minimum date du jour-->
    </div>

    <div class="filtre_groupe">
      <label for="heureArrivee">Heure d'arrivée</label>
      <input type="time" id="heureArrivee" formControlName="heureArrivee" />
    </div>
    <div class="filtre_groupe">
      <label for="heureDepart">Heure de départ</label>
      <input type="time" id="heureDepart" formControlName="heureDepart"/>
    </div>

    <input type="submit" value="Appliquer les filtres" class="btn" />
  </form>
</section>

<section id="resultat_filtre" class="block_white">
  <h2>🎲 Nos tables</h2>
  <div class="carrousel-container">
    <button class="nav-btn prev" (click)="prev()">&#10094;</button>

    <div class="carrousel">
      <div class="carte-table" *ngFor="let table of tables">
        <img [src]="'assets/images/table/' + table.imgUrl" [alt]="table.nomTable" />
        <div class="carte-info">
          <h3>{{ table.nomTable }}</h3>
          <p>{{ table.capacite }} personnes</p>
          <div class="actions">
            <button class="btn btn-reserver" (click)="choisirTable(table)">Réserver</button>
          </div>
        </div>
      </div>
    </div>

    <button class="nav-btn next" (click)="next()">&#10095;</button>
  </div>
</section>



<section id="filtre_section" class="block_white" *ngIf="tableChoisi">
  <h2>Filtrer les jeux</h2>
  <form id="filtre_form" [formGroup]="filtreFormJeu" (ngSubmit)="appliquerFiltreJeu()">

    <div class="filtre_groupe">
      <label for="ageMin">Age minimum</label>
      <input type="number" id="ageMin" min="1" max="18" formControlName="ageMin"/>
    </div>

    <input type="submit" value="Appliquer les filtres" class="btn" />
  </form>
</section>

<section id="resultat_filtre" class="block_white" *ngIf="tableChoisi">
  <h2>🎲 Nos jeux </h2>
  <div class="carrousel-container">
    <button class="nav-btn prev" (click)="prev()">&#10094;</button>

    <div class="carrousel">
      <div class="carte-jeu" *ngFor="let jeu of jeux">
        <img [src]="'assets/images/jeux/' + jeu.imgURL" [alt]="jeu.nom" />
        <div class="carte-info">
          <h3>{{ jeu.nom }}</h3>
          <p>âge minimum: {{ jeu.ageMinimum }}</p>
          <p>Nombre de joueurs min : {{ jeu.nbJoueurMinimum }} </p>
          <p> Nombre de joueurs max : {{jeu.nbJoueurMaximum}}</p>         
          <p>durée : {{ jeu.duree }} minutes - note : {{jeu.note}}</p>

          <div class="actions">
            <button class="btn btn-louer" (click)="choisirJeu(jeu)">Choisir</button>
          </div>
        </div>
      </div>
    </div>

    <button class="nav-btn next" (click)="next()">&#10095;</button>
  </div>
</section>

<section id = "formulaire reservation" class = "block_white" *ngIf = "jeuChoisi">
  <h2> Formulaire de réservation </h2>
  <form [formGroup]="reservationForm" (ngSubmit)="validerReservation()">
    <input type="text" [value]="jeuSelectionne?.nom" disabled/>
    <input type="number" formControlName="nbJoueur"/>
    <input type="datetime-local" formControlName="dateDebutAffichage"/>
  <input type="datetime-local" formControlName="dateFinAffichage"/>
    <button type="submit">Réserver</button>
  </form>
  
</section>