<div id="inscription_main">
  <div class="inscription_card bordered">
    <span class="card_title">S'inscrire</span>
    @if (subscriptionError) {
    <div class="alert alert-danger">Une erreur est survenue lors de la souscription</div>
    }
    <form (ngSubmit)="connecter()" [formGroup]="clientForm">
      <div class="raw">
        <label for="nom" class="col-sm-2 col-form-label">Nom d'utilisateur</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="nom"
            formControlName="nom"
            [class.is-invalid]="nomCtrl.invalid && (nomCtrl.dirty || nomCtrl.touched)"
          />

          @if (nomCtrl.hasError('required')) {
          <div class="invalid-feedback">Le nom d'utilisateur est obligatoire</div>
          }
        </div>
      </div>
      <div class="raw">
        <label for="prenom" class="col-sm-2 col-form-label">Prenom d'utilisateur</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="prenom"
            formControlName="prenom"
            [class.is-invalid]="prenomCtrl.invalid && (prenomCtrl.dirty || prenomCtrl.touched)"
          />

          @if (prenomCtrl.hasError('required')) {
          <div class="invalid-feedback">Le prenom d'utilisateur est obligatoire</div>
          }
        </div>
      </div>
      <div class="raw">
        <label for="mail" class="col-sm-2 col-form-label">Mail d'utilisateur</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="mail"
            formControlName="mail"
            [class.is-invalid]="mailCtrl.invalid && (mailCtrl.dirty || mailCtrl.touched)"
          />

          @if (mailCtrl.hasError('required')) {
          <div class="invalid-feedback">Le mail d'utilisateur est obligatoire</div>
          }
        </div>
      </div>

      <div class="raw">
        <label for="mdp" class="col-sm-2 col-form-label">Mot de passe</label>
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="mdp"
            formControlName="mdp"
            [class.is-invalid]="mdpCtrl.invalid && (mdpCtrl.dirty || mdpCtrl.touched)"
          />

          @if (mdpCtrl.hasError('required')) {
          <div class="invalid-feedback">Le mot de passe est obligatoire</div>
          } @else if (mdpCtrl.hasError('minlength')) {
          <div class="invalid-feedback">Le mot de passe doit faire 6 caractères minimum</div>
          }
        </div>
      </div>

      <div class="raw">
        <label for="mdpConfirm" class="col-sm-2 col-form-label">Confirmation du mot de passe</label>
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="mdpConfirm"
            formControlName="mdpConfirm"
            [class.is-invalid]="
              mdpConfirmCtrl.invalid && (mdpConfirmCtrl.dirty || mdpConfirmCtrl.touched)
            "
          />

          @if (mdpConfirmCtrl.hasError('required')) {
          <div class="invalid-feedback">La confirmation du mot de passe est obligatoire</div>
          } @else if (mdpConfirmCtrl.hasError('passwordMismatch')) {
          <div class="invalid-feedback">Les mots de passe ne correspondent pas</div>
          }
        </div>
      </div>

      <div class="raw">
        <label for="telephone" class="col-sm-2 col-form-label">Telephone d'utilisateur</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="telephone"
            formControlName="telephone"
            [class.is-invalid]="
              telephoneCtrl.invalid && (telephoneCtrl.dirty || telephoneCtrl.touched)
            "
          />

          @if (telephoneCtrl.hasError('required')) {
          <div class="invalid-feedback">Le telephone d'utilisateur est obligatoire</div>
          }
        </div>
      </div>

      <div class="raw">
        <label for="ville" class="col-sm-2 col-form-label">Ville d'utilisateur</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="ville"
            formControlName="ville"
            [class.is-invalid]="villeCtrl.invalid && (villeCtrl.dirty || villeCtrl.touched)"
          />

          @if (villeCtrl.hasError('required')) {
          <div class="invalid-feedback">La ville d'utilisateur est obligatoire</div>
          }
        </div>
      </div>
      <div class="raw">
        <label for="codePostale" class="col-sm-2 col-form-label">Code Postale d'utilisateur</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="codePostale"
            formControlName="codePostale"
            [class.is-invalid]="
              codePostaleCtrl.invalid && (codePostaleCtrl.dirty || codePostaleCtrl.touched)
            "
          />

          @if (codePostaleCtrl.hasError('required')) {
          <div class="invalid-feedback">Le code postal d'utilisateur est obligatoire</div>
          }
        </div>
      </div>

      <div class="raw">
        <label for="adresse" class="col-sm-2 col-form-label">Adresse d'utilisateur</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="adresse"
            formControlName="adresse"
            [class.is-invalid]="adresseCtrl.invalid && (adresseCtrl.dirty || adresseCtrl.touched)"
          />

          @if (adresseCtrl.hasError('required')) {
          <div class="invalid-feedback">L'adresse d'utilisateur est obligatoire</div>
          }
        </div>
      </div>

      <div class="btn-group">
        <input
          type="submit"
          class="btn btn-success"
          [disabled]="clientForm.invalid"
          value="S'inscrire"
        />
        <a type="button" class="btn btn-danger" routerLink="/login">Annuler</a>
      </div>
    </form>
  </div>
</div>
