<div id="inscription_main">
  <div class="inscription_card bordered">
    <span class="card_title">S'inscrire</span>
    @if (subscriptionError) {
    <div class="alert alert-danger">Une erreur est survenue lors de la souscription</div>
    }
    <form (ngSubmit)="connecter()" [formGroup]="clientForm">
      <div class="form-field">
        <label for="nom">Nom d'utilisateur</label>
        <input
          type="text"
          class="form-control"
          id="nom"
          formControlName="nom"
          [class.is-invalid]="nomCtrl.invalid && (nomCtrl.dirty || nomCtrl.touched)"
        />

        @if (nomCtrl.hasError('required')) {
        <div class="invalid-feedback">Le nom d'utilisateur est obligatoire</div>
        }
      </div>
      <div class="form-field">
        <label for="prenom">Prenom d'utilisateur</label>
        <input
          type="text"
          class="form-control"
          id="prenom"
          formControlName="prenom"
          [class.is-invalid]="prenomCtrl.invalid && (prenomCtrl.dirty || prenomCtrl.touched)"
        />

        @if (prenomCtrl.hasError('required')) {
        <div class="invalid-feedback">Le prenom d'utilisateur est obligatoire</div>
        }
      </div>
      <div class="form-field">
        <label for="mail">Mail d'utilisateur</label>
        <input
          type="text"
          class="form-control"
          id="mail"
          formControlName="mail"
          [class.is-invalid]="mailCtrl.invalid && (mailCtrl.dirty || mailCtrl.touched)"
        />

        @if (mailCtrl.hasError('required')) {
        <div class="invalid-feedback">Le mail d'utilisateur est obligatoire</div>
        }
      </div>

      <div class="form-field">
        <label for="mdp">Mot de passe</label>
        <div class="input-with-icon">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            class="form-control"
            id="mdp"
            formControlName="mdp"
            [class.is-invalid]="mdpCtrl.invalid && (mdpCtrl.dirty || mdpCtrl.touched)"
          />
          <i
            class="pi"
            [ngClass]="passwordVisible ? 'pi-eye-slash' : 'pi-eye'"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>
        @if (mdpCtrl.hasError('required')) {
        <div class="invalid-feedback">Le mot de passe est obligatoire</div>
        } @else if (mdpCtrl.hasError('minlength')) {
        <div class="invalid-feedback">Le mot de passe doit faire 6 caractères minimum</div>
        }
      </div>

      <div class="form-field">
        <label for="mdpConfirm">Confirmation du mot de passe</label>
        <div class="input-with-icon">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            class="form-control"
            id="mdpConfirm"
            formControlName="mdpConfirm"
            [class.is-invalid]="
              mdpConfirmCtrl.invalid && (mdpConfirmCtrl.dirty || mdpConfirmCtrl.touched)
            "
          />
          <i
            class="pi"
            [ngClass]="passwordVisible ? 'pi-eye-slash' : 'pi-eye'"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>
        @if (mdpConfirmCtrl.hasError('required')) {
        <div class="invalid-feedback">La confirmation du mot de passe est obligatoire</div>
        } @else if (mdpConfirmCtrl.hasError('passwordMismatch')) {
        <div class="invalid-feedback">Les mots de passe ne correspondent pas</div>
        }
      </div>

      <div class="form-field">
        <label for="telephone">Telephone d'utilisateur</label>
        <input
          type="text"
          class="form-control"
          id="telephone"
          formControlName="telephone"
          [class.is-invalid]="
            telephoneCtrl.invalid && (telephoneCtrl.dirty || telephoneCtrl.touched)
          "
        />

        @if (telephoneCtrl.hasError('required')) {
        <div class="invalid-feedback">Le telephone d'utilisateur est obligatoire</div>
        }
      </div>

      <div class="form-field">
        <label for="ville">Ville d'utilisateur</label>

        <input
          type="text"
          class="form-control"
          id="ville"
          formControlName="ville"
          [class.is-invalid]="villeCtrl.invalid && (villeCtrl.dirty || villeCtrl.touched)"
        />

        @if (villeCtrl.hasError('required')) {
        <div class="invalid-feedback">La ville d'utilisateur est obligatoire</div>
        }
      </div>

      <div class="form-field">
        <label for="codePostale">Code Postale d'utilisateur</label>

        <input
          type="text"
          class="form-control"
          id="codePostale"
          formControlName="codePostale"
          [class.is-invalid]="
            codePostaleCtrl.invalid && (codePostaleCtrl.dirty || codePostaleCtrl.touched)
          "
        />

        @if (codePostaleCtrl.hasError('required')) {
        <div class="invalid-feedback">Le code postal d'utilisateur est obligatoire</div>
        }
      </div>

      <div class="form-field">
        <label for="adresse">Adresse d'utilisateur</label>
        <input
          type="text"
          class="form-control"
          id="adresse"
          formControlName="adresse"
          [class.is-invalid]="adresseCtrl.invalid && (adresseCtrl.dirty || adresseCtrl.touched)"
        />

        @if (adresseCtrl.hasError('required')) {
        <div class="invalid-feedback">L'adresse d'utilisateur est obligatoire</div>
        }
      </div>

      <div class="btn-group">
        <input
          type="submit"
          class="btn btn-success"
          [disabled]="clientForm.invalid"
          value="S'inscrire"
        />
        <a type="button" class="btn btn-danger" routerLink="/login">Annuler</a>
      </div>
    </form>
  </div>
</div>
